#chat-screen {
    background-color: #ABC1D1;
    height: 1000vh;
}

#chat-screen .fa-search {
    margin-right: 20px;
}

#chat-screen .status-bar {
    background-color: #ABC1D1;
}

.chat-alt-header {
    background-color:#ABC1D1;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
    }
}

.main-chat {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .5s linear;
}

.chat__timestamp {
    color: rgba(255,255,255, 0.8);
    background-color: #92A4B2;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.message-row {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.message-row img {
    width: 53px;
    height: 53px;
    border-radius: 20px;
    margin-right: 10px
}

.message__author {
    opacity: 0.8;
    display: block;
    margin-bottom: 5px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    border-top-left-radius: 0px;
    font-size: 18px;
    margin-right: 5px;
}

.message__time {
    opacity: 0.8;
    font-size: 13px;
}

.message-row__own {
    justify-content: flex-end;
}

.message-row__own .message__bubble {
    border-radius: 18px;
    border-top-right-radius: 0px;
    background-color: var(--yellow);
    margin-right: 0px;
    margin-left: 5px;
}

.message-row__own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
    transition: transform .3s ease-in-out;
}

.reply .reply__column:first-child{
    width: 10%;
}

.reply__column:first-child i {
    color: var(--grey);
}

.reply .reply__column:last-child{ 
width: 90%;
position: relative;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position:absolute;
    right: -15px;
    top: 2.5px;
}

.reply input {
    height: 30px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding-left: 15px;
    transition: all .3s ease-in-out;
}

.reply__column:last-child > i {
    right: 25px;
    top: 10px;
    color: var(--grey);
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity .3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply input:focus {
    width: 93vw;
    transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}